@font-face {
    font-family: yarden;
    src: url(assets/fonts/yarden-regular-alefalefalef.otf);
}

@font-face {
    font-family: yarden-bold;
    src: url(assets/fonts/yarden-bold-alefalefalef.otf);
}

body {
    direction: rtl;
    font-family: yarden;
    background-image: linear-gradient(to left, #a3cef1, #d6eafd);
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
}

#hativa-logo {
    position: fixed;
    width: 15vw;
    top: 3vh;
    left: 5vw;
    z-index: 4;
}


.question-container {
    /* display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: absolute;
    top: 20vh;
    left: 50%;
    transform: translateX(-50%);
    width: 80vw; */
    display: flex;
    flex-direction: column;
    margin-bottom: 6vh;
}


.question {
    background-color: rgb(39, 76, 119);
    box-shadow: rgba(0, 0, 0, 0.35) 0 1vh 1vh;
    padding: 2vh;
    border-radius: 2vh;
    font-size: 2.5vh;
    text-align: start;
    color: #A3CEF1;
    margin-bottom: 2vh;
    font-weight: bold;
}


.answer {
    background-color: rgb(39, 76, 119);
    box-shadow: rgba(0, 0, 0, 0.35) 0 0.5vh 0.5vh;
    padding: 1vh;
    border-radius: 2vh;
    font-size: 2.5vh;
    text-align: start;
    color: #A3CEF1;
    margin-bottom: 1.5vh;
}



#blob {
    width: 100vw;
    position: fixed;
    top: 0;
    right: 0;
    margin-bottom: 2vh;
    z-index: 3;
}


#flex-container {
    display: flex;
    flex-direction: column;

    overflow-x: hidden;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 20vh;
}

.chosen-answer {
    /* box-shadow: 0 0 3vh rgb(86, 118, 189); */
    background-color: rgb(19, 36, 56);
    color:#cde7fc;
}


.question-text {
    color: rgb(39, 76, 119);
    font-size: 2.5vh;
    text-align: start;
    margin-bottom: 1.5vh;
    font-weight: bold;
}


.multiple-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 1.5vh;
    justify-content: start;
    align-items: center;
}

/* #block-scroll {
    background-image: linear-gradient(to left, #a3cef1 , #bdd8f1);
    z-index: 2;
    position: fixed;
    top: 0%;
    height: 15vh;
    width: 100vw;
} */
/* 
.check-box {
    border-radius: 1vh;
    background-color: rgb(39, 76, 119);
    height: 3vh;
    width: 3vw;
    margin-left: 2vw;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0.5vh 0.5vh;
} */

.check-box {
    height: 5vh;
    margin-left: 2vw;
}

.multiple-choice {
    background-color: rgb(39, 76, 119);
    box-shadow: rgba(0, 0, 0, 0.35) 0 0.5vh 0.5vh;
    padding: 1vh;
    border-radius: 2vh;
    font-size: 2.5vh;
    text-align: start;
    color: #A3CEF1;
}


.checkmark {
    height: 6vh;
    position: absolute;
    margin-right: -4%;
    margin-bottom: 2%;
    display: none;
}


.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    align-self: center;
}

.selected {
    background-color: rgb(39, 76, 119);
}


.column {
    /* width: 20vw; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-right: 2vw;
    margin-left: 2vw;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dot {
    border-radius: 50%;
    display: inline-block;
    border: 0.3vw rgb(39, 76, 119) solid;
    width: 2.5vw;
    height: 1.5vh;
    /* padding: 4vh; */
    margin-top: 4vh;
    margin-right: 2vw;
}

.second-dot {
    border-radius: 50%;
    display: inline-block;
    border: 0.3vw rgb(39, 76, 119) solid;
    width: 2.5vw;
    height: 1.5vh;
    margin-top: 4vh;
    margin-left: 2vw;
}

.list-item {
    background-color: rgb(39, 76, 119);
    border: solid rgb(39, 76, 119) 0.3vw;
    border-radius: 2vw;
    margin-top: 12%;
    font-size: 2.5vh;
    text-align: center;
    width: 30vw;
    list-style-type: none;
    color: #A3CEF1;
    min-height: 10vh;
    padding-top: 3%;
    /* font-weight: bolder; */

     display: flex;
     align-items: center;
     justify-content: center;
     box-shadow: rgba(0, 0, 0, 0.35) 0 0.5vh 0.5vh;
}

.covered-container {
    position: relative; /* Necessary for absolute positioning of canvas */
}


.overlay-canvas {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none; /* Allow clicking through the canvas */
}


.drag-table {
    border-radius: 10%;
    background-color: rgb(39, 76, 119);
    color: #A3CEF1;
    font-size: 2.5vh;
    text-align: center;
    margin-bottom: 2vh;
    display: block;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

tr {
    /* border-bottom: #A3CEF1 solid 0.5vh; */
    /* text-decoration: underline; */
    border-bottom:#A3CEF1 solid 0.5vh;
}

th {
    font-weight: bold;
    padding: 3%;
    text-align: center;
    width: 30vw;
    /* text-decoration: underline; */
}

.drop-row {
    height: 20vh;
    /* border-top: #A3CEF1 solid 0.1vh; */
}


.drag-options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: rgb(39, 76, 119) 0.4vh dashed;
    border-radius: 5%;
    padding-top: 1%;
    margin-bottom: 2vh;
    min-height: 3vh;
    /* bottom: 0%; */
}

.drag-option {
    border-radius: 2vh;
    background-color: #A3CEF1;
    color: rgb(39, 76, 119);
    padding: 3%;
    font-size: 2vh;
    margin-bottom: 1vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


.button {
    width: 25vw;
    padding: 0;
    border: none;
    transform: rotate(5deg);
    transform-origin: center;
    text-decoration: none;
    font-size: 5vw;
    font-family: yarden;
    cursor: pointer;
    padding-bottom: 1vh;
    border-radius: 1.5vw;
    box-shadow: 0 0.4vh 0 rgb(39, 76, 119);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background-color: rgb(55, 107, 167);
    align-self: flex-end;
    position: relative;
    bottom: 2vh;
    left: 1vw;
  }
  
.button span {
    background: #A3CEF1;
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 1.5vw;
    color: rgb(39, 76, 119);
    border: 0.5vh solid rgb(39, 76, 119);
}

.button:active{
    transform: translateY(1vh);
    padding-bottom: 0;
    outline: 0;
}
  